@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata";
  overflow: overlay;
}

:root {
  --bg: #121212;
  --fg: #dfdfdf;
  --second-fg: #bbbbbb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
